<div id="electronics-carousel" class="touchcarousel  three-d">
    <ul class="touchcarousel-container">
        <li class="touchcarousel-item">
            <img src="Style/Images/1.png" />
            <div class="rblock">
                Touch Navigation
                <p>
                    for iOS, Android, Blackberry</p>
            </div>
        </li>
        <li class="touchcarousel-item">
            <img src="Style/Images/1.png" />
            <div class="rblock">
                <h4>
                    Physics-Based Navigation</h4>
                <p>
                    free-scroll or paging</p>
            </div>
        </li>
        <li class="touchcarousel-item">
            <img src="Style/Images/1.png" />
            <div class="rblock">
                <h4>
                    Four Skins</h4>
                <p>
                    with orginized Photoshop files</p>
            </div>
        </li>
        <li class="touchcarousel-item">
            <img src="Style/Images/1.png" />
            <div class="rblock">
                <h4>
                    Responsive Layout</h4>
                <p>
                    Change width at any time</p>
            </div>
        </li>
        <li class="touchcarousel-item">
            <img src="Style/Images/1.png" />
            <div class="rblock">
                <h4>
                    Any HTML Content</h4>
                <p>
                    except video</p>
            </div>
        </li>
        <li class="touchcarousel-item">
            <img src="demo-images/60x60/1.jpg" />
            <div class="rblock">
                <h4>
                    Powerful API</h4>
                <p>
                    Public methods, callbacks, properties</p>
            </div>
        </li>
        <li class="touchcarousel-item">
            <img src="demo-images/60x60/1.jpg" />
            <div class="rblock">
                <h4>
                    Commented CSS and JavaScript code</h4>
                <p>
                </p>
            </div>
        </li>
        <li class="touchcarousel-item">
            <img src="demo-images/60x60/1.jpg" />
            <div class="rblock">
                <h4>
                    Skinnable Scrollbar</h4>
                <p>
                    Bult-in &ldquo;dark&rdquo; and &ldquo;light&rdquo; skins.</p>
            </div>
        </li>
        <li class="touchcarousel-item">
            <img src="demo-images/60x60/1.jpg" />
            <div class="rblock">
                <h4>
                    Multiple Carousels on One Page is allowed</h4>
            </div>
        </li>
        <li class="touchcarousel-item">
            <img src="demo-images/60x60/1.jpg" />
            <div class="rblock">
                <h4>
                    Simple Documentation</h4>
            </div>
        </li>
        <li class="touchcarousel-item">
            <img src="demo-images/60x60/1.jpg" />
            <div class="rblock">
                <h4>
                    Free support</h4>
                <p>
                    and lifetime updates</p>
            </div>
        </li>
    </ul>
</div>
<div id="electrical-carousel" class="touchcarousel  three-d">
    <ul class="touchcarousel-container">
        <li class="touchcarousel-item">
            <img src="Style/Images/1.png" />
            <div class="rblock">
                Touch Navigation
                <p>
                    for iOS, Android, Blackberry</p>
            </div>
        </li>
        <li class="touchcarousel-item">
            <img src="Style/Images/1.png" />
            <div class="rblock">
                <h4>
                    Physics-Based Navigation</h4>
                <p>
                    free-scroll or paging</p>
            </div>
        </li>
        <li class="touchcarousel-item">
            <img src="Style/Images/1.png" />
            <div class="rblock">
                <h4>
                    Four Skins</h4>
                <p>
                    with orginized Photoshop files</p>
            </div>
        </li>
        <li class="touchcarousel-item">
            <img src="Style/Images/1.png" />
            <div class="rblock">
                <h4>
                    Responsive Layout</h4>
                <p>
                    Change width at any time</p>
            </div>
        </li>
        <li class="touchcarousel-item">
            <img src="Style/Images/1.png" />
            <div class="rblock">
                <h4>
                    Any HTML Content</h4>
                <p>
                    except video</p>
            </div>
        </li>
        <li class="touchcarousel-item">
            <img src="demo-images/60x60/1.jpg" />
            <div class="rblock">
                <h4>
                    Powerful API</h4>
                <p>
                    Public methods, callbacks, properties</p>
            </div>
        </li>
        <li class="touchcarousel-item">
            <img src="demo-images/60x60/1.jpg" />
            <div class="rblock">
                <h4>
                    Commented CSS and JavaScript code</h4>
                <p>
                </p>
            </div>
        </li>
        <li class="touchcarousel-item">
            <img src="demo-images/60x60/1.jpg" />
            <div class="rblock">
                <h4>
                    Skinnable Scrollbar</h4>
                <p>
                    Bult-in &ldquo;dark&rdquo; and &ldquo;light&rdquo; skins.</p>
            </div>
        </li>
        <li class="touchcarousel-item">
            <img src="demo-images/60x60/1.jpg" />
            <div class="rblock">
                <h4>
                    Multiple Carousels on One Page is allowed</h4>
            </div>
        </li>
        <li class="touchcarousel-item">
            <img src="demo-images/60x60/1.jpg" />
            <div class="rblock">
                <h4>
                    Simple Documentation</h4>
            </div>
        </li>
        <li class="touchcarousel-item">
            <img src="demo-images/60x60/1.jpg" />
            <div class="rblock">
                <h4>
                    Free support</h4>
                <p>
                    and lifetime updates</p>
            </div>
        </li>
    </ul>
</div>
