@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link href="../../Style/home.css" rel="stylesheet" type="text/css" />
    <link href="../../Library/touchcarousel/touchcarousel.css" rel="stylesheet" type="text/css" />
}
<h2>
    Index</h2>
@section Scripts {
    <script src="../../Library/touchcarousel/jquery.touchcarousel-1.1.min.js" type="text/javascript"></script>
}
